html{
  margin: 0;
}

.Base{
  text-align: center;
}

.clients{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: bisque;
}

.clients body {
 margin: 5px 8px;
 border: 2px solid black;
 border-radius: 10%;
 padding: 5px;
}

.client{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: cornflowerblue;
  margin-bottom: 50px;
}

.client div{
  margin: 5px 8px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

footer{
  font-size: 50px;
}